version: 2
updates:
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: daily
  groups:
    actions-dependencies:
      applies-to: version-updates
      patterns:
      - "*"
