/amd-suite
/txt-suite
/txt-prov
/bg-prov
/bg-suite
/vendor
cmd/core/txt-prov/txt-prov
cmd/core/txt-suite/test_log.json
cmd/core/txt-suite/txt-suite
cmd/core/bg-prov/bg-prov
cmd/core/bg-suite/bg-suite
cmd/core/amd-suite/amd-suite
cmd/exp/amd-suite/amd-suite

# Task build output
/bin/

# GoReleaser output
/dist/
